# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/

# PyTorch models
*.pt
*.pth
*.onnx
*.tflite

# Audio
*.wav
*.mp3
*.flac

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# KiCad backups
*-backups/
*.kicad_prl

# 3D printing / OpenSCAD
*.gcode
*.stl
*.csg
